[Desktop Entry]
Type=Application
Name=Settings
Name[de_DE]=Einstellungen
Name[es_ES]=Ajustes
Name[fr_FR]=Paramètres
Name[ko_KO]=설정
Name[nl_NL]=Instellingen
Name[pl_PL]=Ustawienia
Name[pt_BR]=Configurações
Name[sv_SV]=Inställningar
Name[ru_RU]=настройки
Categories=Applications;
Exec=invoker --single-instance --type=qtcomponents-qt5 /usr/bin/asteroid-settings
Icon=ios-settings-outline
X-Asteroid-Center-Color=#4b45b9
X-Asteroid-Outer-Color=#161537
