[Desktop Entry]
Type=Application
Name=Settings
Name[de_DE]=Einstellungen
Name[es]=Ajustes
Name[fr]=Paramètres
Name[ko]=설정
Name[nl_NL]=Instellingen
Name[pl]=Ustawienia
Name[pt_BR]=Configurações
Name[sv]=Inställningar
Name[ru]=настройки
Categories=Applications;
Exec=invoker --single-instance --type=qtcomponents-qt5 /usr/bin/asteroid-settings
Icon=ios-settings-outline
X-Asteroid-Center-Color=#4b45b9
X-Asteroid-Outer-Color=#161537
