[Desktop Entry]
Type=Application
Categories=Applications;
Exec=invoker --single-instance --type=qtcomponents-qt5 /usr/bin/asteroid-settings
Icon=ios-settings-outline
X-Asteroid-Center-Color=#0044A6
X-Asteroid-Outer-Color=#00010C
